body {
  background-color: white;
  color: black;
  font-family: Verdana;

}

h1 {
  font-family: "Segoe UI",-apple-system,Arial,Verdana,sans-serif;
  color: black;
  align-items:center;
}
h3 {
  font-family: "Segoe UI",-apple-system,Arial,Verdana,sans-serif;
  color: black;
  padding: 15px;
  }

pre {
  color: black;
  font-family: "Concert One";
  white-space: pre-wrap;
  margin: auto;
}
p {
  color: white;
  font-family: "Concert One";
  white-space: pre-wrap;
  text-align: center;
  margin: 5px;
  vertical-align: middle;
  width: 90%;
	font-size: 2.5vh;
}

#gridcontainer {

	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 2fr 1fr 2fr 8fr;
	grid-template-areas:
	'header header'
	'namecard aboutme'
	'contact form'
	'calendar form'
	'calendar form'
}
@media (max-width: 1000px) {
	#gridcontainer{

		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: .5fr 1fr 1.5fr 2fr 3fr 4fr;
		grid-template-areas:
		'header'
		'namecard' 
		'aboutme'
		'contact'
		'calendar' 
		'form'
	}
}

#gridcontainer > div {
	margin: 5px;
}


#header{
	background-color: #5F9EA0;
	border-radius: 20px;
	display: grid;
	place-items: center;
	grid-area: header;
}

#top{
	display: flex;
	justify-content: center;
	align-items: center;
	
}


#namecard{
	float: left;
	background-color: #483D8B;
	border-radius: 25px;
	grid-area: namecard;
	display: grid;
	place-items: center;
	

}

#aboutme{
	grid-area: aboutme;
	float: right;
	background-color: #2F4F4F;
	border-radius: 25px;
	display: grid;
	place-items: center;
}

#bottom{

	display: flex;
	justify-content: center;
	align-items: center;
	
}



#contact{
	background-color: black;
	border-radius: 25px;
	margin: 5px 0px;
	display: grid;
	place-items: center;
	flex: left;
	grid-area: contact;
}

#calendar{
	float: left;
	background-color: #f0f4f9;
	border-radius: 25px;
	display: grid;
	place-items: center;
	grid-area: calendar;
}

#form{
	height: 1350px;
	background-color: #f0f4f9;
	border-radius: 25px;
	grid-area: form;
	display: grid;
}

#googleform{
	width: 95%;
	height: 95%;
	

}

#googlecal{
	width: 95%;
	height: 95%;

}

