body {
  background-color: white;
  color: black;
  font-family: Verdana;
  align-items:center;
}

h1 {
  font-family: "Segoe UI",-apple-system,Arial,Verdana,sans-serif;
  color: black;
  align-items:center;
}
h3 {
  font-family: "Segoe UI",-apple-system,Arial,Verdana,sans-serif;
  color: black;
  padding: 15px;
  }

pre {
  color: black;
  font-family: "Concert One";
  white-space: pre-wrap;
  margin: auto;
}

.boxLeft {
  display: inline-block;
  width: 30%;
  height: 80%;
  margin: 10px 5px 10px 20%;
  padding: 25px;
  border: 5px solid black;
  align-items:center;
  }
  
.boxRight {
  display: inline;
  background-color: blue;

}

p {
  color: white;
  font-family: "Concert One";
  white-space: pre-wrap;
  margin: auto;
  width: 33%;
}

.header {
  border: 5px solid black ; 
  border-radius: 10px;
  width: 400px;
  height: 150px;
  margin: 80px;
}

.splashScreen {
  border-radius: 25px;
  border: 5px solid #73AD21;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
