body {
  background-color: white;
  color: black;
  font-family: Verdana;
  align-items:center;
  display: content;
}

h1 {
  font-family: "Segoe UI",-apple-system,Arial,Verdana,sans-serif;
  color: black;
  align-items:center;
}
h3 {
  font-family: "Segoe UI",-apple-system,Arial,Verdana,sans-serif;
  color: black;
  padding: 15px;
  }

pre {
  color: black;
  font-family: "Concert One";
  white-space: pre-wrap;
  margin: auto;
}
p {
  color: white;
  font-family: "Concert One";
  white-space: pre-wrap;
  text-align: center;
  margin: 5px;
  vertical-align: middle;
  width: 90%;
}

#header{
	background-color: #5F9EA0;
	border-radius: 20px;
	height: 50px;
	display: grid;
	place-items: center;
}

#top{
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
@container (aspect-ratio < 1.0){
	#top{
	flex-direction: column;
	align-items: normal;
	background-color: yellow;
	}
}

#namecard{
	width: 50%;
	height: 100%;
	float: left;
	background-color: #483D8B;
	border-radius: 25px;
	margin: 5px;
	display: grid;
	place-items: center;
	

}

#aboutme{
	width: 50%;
	height: 100%;
	float: right;
	background-color: #2F4F4F;
	border-radius: 25px;
	margin: 20px 5px;
	display: grid;
	place-items: center;
}

#bottom{
	width: 100%;	
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#botleft{
	width:50%;
	margin: 5px;
	flex:left;
}

#botright{
	width:50%;
	margin: 5px;
}

#contact{
	width: 100%;
	height: 150px;
	background-color: black;
	border-radius: 25px;
	margin: 5px 0px;
	display: grid;
	place-items: center;
	flex: left;
}

#calendar{
	width: 100%;
	height: 510px;
	float: left;
	background-color: #f0f4f9;
	border-radius: 25px;
	margin: 5px 0px;
	display: grid;
	place-items: center;
}

#form{
	height: 670px;
	width: 100%;
	background-color: #f0f4f9;
	border-radius: 25px;

	display: grid;
}

#googleform{
	width: 95%;
	height: 95%;


}

#googlecal{
	width: 95%;
	height: 95%;

}

